---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  year: number;
  authors: string;
  venue?: string;
  doi?: string;
  acl?: string;
  pdf?: string;
  github?: string;
}

const { title, year, authors, venue, doi, acl, github, pdf } = Astro.props;

const href = doi ? "https://doi.org/" + doi : `https://aclanthology.org/${acl}`;
const hrefPdf = pdf || (acl ? `https://aclanthology.org/${acl}.pdf` : undefined);
---

<li>
  <div><span set:html={authors} /> ({year})</div>
  <div class="ml-8">
    <span
      ><a class="text-blue-700 hover:underline" href={href} target="_blank">{title}</a>
      {venue && <span class="italic block">{venue}</span>}
    </span>
  </div>
  <div class="ml-8 text-sm">
    {
      doi && (
        <span class="mr-2">
          <Icon name="academicons:doi" class="inline-block align-middle w-3" />
          <a
            href={"https://doi.org/" + doi}
            target="_blank"
            class="text-gray-600 underline hover:text-gray-800 align-middle"
            set:html={doi}
          />
        </span>
      )
	}
    {
      hrefPdf && (
        <span class="mr-2">
          <Icon name="mdi:file-pdf" class="inline-block align-middle w-3" /><a
            href={hrefPdf}
            target="_blank"
            class="text-gray-600 underline hover:text-gray-800 align-middle"
            set:html={acl || "pdf"}
          />
        </span>
      )
    }
    {
      github && (
        <span class="mr-2">
          <Icon name="logos:github-icon" class="inline-block align-middle w-3" />
          <a
            href={"https://github.com/" + github}
            target="_blank"
            class="text-gray-600 underline hover:text-gray-800 align-middle"
            set:html={github}
          />
        </span>
      )
    }
  </div>
</li>
